body {
  font-family: sans-serif;
  p {
    margin: 0;
  }
  ul {
    margin: 0;
    padding: 0;
  }
}
nav {
  min-width: 478px;
  a {
    text-decoration: none;
    color: #909090;
  }
  ul {
    margin-top: 1em;
    margin-bottom: 0.5em;
    padding-left: 23px;
    li {
      display: inline-block;
      margin-right: 31px;
    }
    li:first-child a {
      color: #535A61;
    }
    li:nth-child(3) a {
      color: #060606;
    }
  }
}

header {
  background: url(../images/background.png);
  padding: 65px 0;
  p {
    margin: 5px auto;
    font-size: 2em;
    text-align: center;
    color: white;
    width: 300px;
  }
}

main.main1 {

  padding: 25px 10px;
  section {
    border: 1px solid #E2E2E2;
    margin: 17px auto;
    div:first-child {
      background-color: #519251;
      padding: 2em 0;
      p {
        text-align: center;
        color: white;
      }
      p:first-child {
        letter-spacing: 2px;
      }
      p:nth-child(2) {
        font-size: 6em;
      }
      p:last-child {
        font-size: 17px;
        opacity: 0.5;
      }
    }
    ul {
      list-style-type: none;
      text-align: center;
      li {
        background-color: #F7F7F7;
        color: #6E7A7F;
        padding: 16px 0;
        border: 1px solid #E2E2E2;
      }
    }
    div:last-child {
      text-align: center;
      padding: 25px 0;
      a {
        display: inline-block;
        width: 94px;
        text-decoration: none;
        font-weight: bold;
        color: black;
        padding: 10px 0;
        border: 1px solid #E2E2E2;
        border-bottom-left-radius: 25%50%;
        border-bottom-right-radius: 25%50%;
        border-top-left-radius: 25%50%;
        border-top-right-radius: 25%50%;
      }
    }
    div.blue{
      background-color: #2C4985;
    }
    div.black{
      background-color: #111111;
    }
  }
}

main.main2 {
  padding: 35px;

  p:first-child {
    letter-spacing: 3px;
    font-size: 20px;
    margin: 20px 0;

  }
  p:last-child {
    color: #4D5B62;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 35px;

  }
}

footer {
  padding: 30px;
  background-color: black;
  text-align: center;
  p {
    color: #888888;
    a {
      color: white;
    }
  }
}

@media (min-width: 479px) {
  header {
    padding: 150px 0;
  }
}

@media (min-width: 767px) {
  main.main1 {
    text-align: center;
    section {
      display: inline-block;
      width: 240px;
      margin: auto 2px;
    }
  }
  main.main2 {
    width: 767px;
    margin: 0 auto;
    section {
      display: inline-block;
      vertical-align: top;
      min-height: 250px;
      width: 300px;
      margin: auto 35px;
      padding-left: 10px;
    }
  }
  footer {
    clear:both;
  }
}

@media (min-width: 979px) {
  main.main1 {
    section {
      width: 311px;
    }
  }
  main.main2 {
    width: 980px;
    section {
      width: 400px;
    }
  }

}
