body {
  font-family: sans-serif;
}
nav {
  a {
    text-decoration: none;
    color: #909090;
  }
  ul {
    padding-left: 23px;
    li {
      display: inline-block;
    }
    li:first-child a {
      color: #535A61;
    }
    li:nth-child(3) {
      color: #060606;
    }
  }
}

header {
  background: url(../images/background.png);
  padding: 65px 0;
  p {
    margin: 5px auto;
    font-size: 2em;
    text-align: center;
    color: white;
    width: 300px;
  }
}
